@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
  scrollbar-color: #777 #333;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  /* background-color: #777;
  border-radius: 8px; */
  @apply bg-blue-700 rounded-md;
}

html::-webkit-scrollbar-track {
  /* background-color: #333; */
  @apply bg-gray-300;
}

body {
  @apply relative flex flex-col min-h-screen text-gray-700;
}

.app-container {
  @apply w-11/12 mx-auto;
}

.menu-after::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #2563eb;
  position: absolute;
  left: 0;
  top: 42.5px;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 18px;
  margin-top: 12px;
  margin-bottom: 30px;
}

.horizontal-slider .example-track {
  top: 8.5px;
  height: 5px;
  border-radius: 8px;
}

.example-track.example-track-0 {
  background: rgb(156 163 175);
}

.example-track.example-track-1 {
  background: #3b82f6;
}

.example-track.example-track-2 {
  background: rgb(156 163 175);
}

.horizontal-slider .example-thumb {
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(29 78 216);
  cursor: pointer;
  box-sizing: border-box;
}
